body {
  margin: 0;
}

header {
  display: flexBox;
  background-image: url(https://blackrockdigital.github.io/startbootstrap-clean-blog/img/home-bg.jpg);
  height: 500px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0;
}

.overlay {
  z-index: 1;
  background: rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 100%;
}

.navigation {
  display: grid;
  justify-content: center;
  align-content: center;
}

#centerHeading {
  text-align: center;
  color: white;
}

#centerHeading h1 {
  font-size: 4rem;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin-bottom: .5rem;
}

#centerHeading h2 {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.1;
  display: block;
  margin: 5px 0 0;
}

.leftnav {
  text-align: center;
}

.leftnav a {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
}

.topnav {
  margin-top: 1em;
}

.topnav a {
  margin-left: .7em;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

@media (min-width: 700px) {
  .leftnav {
    margin-top: 1.5em;
    margin-left: -30em;
  }

  .leftnav a {
    color: white;
    font-size: 1.5em;
  }

  .topnav {
    margin-top: -1em;
    margin-right: -20em;
  }

  .topnav a {
    margin-left: 1.5em;
    color: white;

  }
}

@media (min-width: 1020px) {
  .leftnav {
    margin-top: 1.5em;
    margin-left: -40em;
  }

  .leftnav a {
    color: white;
    font-size: 1.5em;
  }

  .topnav {
    margin-top: -1em;
    margin-right: -30em;
  }

  .topnav a {
    margin-left: 1.5em;
    color: white;

  }
}